.home {

    &__main-section {
        height: calc(100vh - 204px);
        background: url('../images/home/main-section-bcg.png') no-repeat;
        // background-size: cover;
    }

    &__main-content {
        display: grid;
        align-content: center;
        height: 100%;

        span {
            color: #68A47F;
            font-size: 36px;

            @media (max-width: 520px) {
                font-size: 22px;
            }
        }

        h1 {
            max-width: 530px;
            margin-bottom: 23px;
        }
    }

    &__promotion {
        display: flex;
        gap: 36px;
        padding: 150px 0 190px;

        @media (max-width: 1100px) {
            padding: 50px 0 50px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 16px;
        }

        img {
            max-height: 376px;
            height: 100%;
            width: 100%;
            transition: 0.4s;
            border-radius: 32px;
            overflow: hidden;
            object-fit: cover;

            &:hover {
                transform: scale(1.02);
                -webkit-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
                box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
            }
        }
    }

    &__about-us {
        background-color: $white_color;
        padding: 186px 0;

        @media (max-width: 1100px) {
            padding: 50px 0 50px;
        }
    }

    &__products {
        padding: 188px 0;
        text-align: center;

        h2 {
            margin-bottom: 40px;
        }
    }

    &__feedback {
        position: relative;
        padding: 164px 0;
        overflow: hidden;
        background-color: #FCFCFC;

        @media (max-width: 1400px) {
            padding: 50px 20px;
        }
    }

    &__feedback-bcg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media (max-width: 1100px) {
            opacity: 0.1;
        }
    }

    &__feedback-wrap {
        max-width: 1030px;
        margin: 0 auto;

        h2 {
            text-align: center;
            margin-bottom: 60px;
        }
    }

    &__feedback-slider {
        max-width: 780px;
        height: 400px;
        margin: 0 auto 100px;

        @media (max-width: 700px) {
            height: 500px;
        }
    }

    &__feedback-slide {
        .rang {
            justify-content: center;

            img {
                width: 26px;
            }
        }
    }

    &__feedback-user {
        display: block;
        width: 115px;
        height: 115px;
        object-fit: cover;
        margin: 0 auto 20px;
    }

    &__feedback-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, 211px);
        justify-content: center;
        gap: 62px;
        grid-auto-rows: 211px;

        @media (max-width: 560px) {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;

        }

        &>div {
            border: 3px solid $green_color;
            border-radius: 100%;
            padding: 4px;

            &>div {
                display: grid;
                align-items: center;
                align-content: center;
                justify-items: center;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: #F1F1F1;

                h2 {
                    margin-bottom: 0;

                    @media (max-width: 560px) {
                        font-size: 32px;
                    }
                }

                p {
                    @media (max-width: 560px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__feedback-decor {
        width: 100%;
        height: 1px;
        background-color: #E0E0E0;
        margin-bottom: 102px;
    }

    &__feedback-text,
    &__feedback-user-name {
        margin-bottom: 20px;
        text-align: center;
    }

    &__feedback-user-type {
        font-size: 15px;
        text-align: center;
    }

    &__organic {
        background-color: $main_color;
        padding: 200px 0;

        @media (max-width: 900px) {
            padding: 50px 0;
        }

        .product-card {
            background-color: white;
        }
    }

    &__organic-text-wrap {

        .green-text {
            text-align: left;
        }

        h2 {
            color: white;
            margin: 0;
        }


    }

    &__organic-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        .btn.yellow-btn {
            margin: 0;
        }
    }
}


.about-us {
    position: relative;
    overflow: hidden;
    height: max-content;

    .container {
        display: flex;
        gap: 65px;
        justify-content: space-around;
        width: 100%;


        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    &__img {
        max-width: 782px;
        width: 100%;
        height: 100%;
        max-height: 778px;
        object-fit: cover;
        transform: translateX(-50px) scale(1.1);

        @media (max-width: 1366px) {
            max-width: 500px;
            transform: translateX(0) scale(2);
            object-fit: contain;
        }

        @media (max-width: 1100px) {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0.1;
        }
    }

    &__text-block {
        flex-grow: 1;
        z-index: 1;

        &>span:nth-child(1) {
            color: $green_color;
            font-size: 36px;
            margin-bottom: 12px;
        }

        &>h2:nth-child(2) {
            margin-bottom: 14px;
        }

        &>p:nth-child(3) {
            margin-bottom: 46px;
        }

        &>div:nth-child(4) {
            margin-bottom: 30px;
        }

        &>div {
            display: flex;
            gap: 19px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }

        button {
            margin-top: 46px;
        }
    }
}