.home {

    &__main-section {
        height: calc(100vh - 204px);
        background: url('../images/home/main-section-bcg.png') no-repeat;
        // background-size: cover;
    }

    &__main-content {
        display: grid;
        align-content: center;
        height: 100%;

        span {
            color: #68A47F;
            font-size: 36px;

            @media (max-width: 520px) {
                font-size: 22px;
            }
        }

        h1 {
            max-width: 530px;
            margin-bottom: 23px;
        }
    }

    &__promotion {
        display: flex;
        gap: 36px;
        padding: 150px 0 190px;

        @media (max-width: 1100px) {
            padding: 50px 0 50px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 16px;
        }

        img {
            max-height: 376px;
            height: 100%;
            width: 100%;
            transition: 0.4s;
            border-radius: 32px;
            overflow: hidden;
            object-fit: cover;

            &:hover {
                transform: scale(1.02);
                -webkit-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
                box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
            }
        }
    }

    &__about-us {
        background-color: $white_color;
        padding: 186px 0;

        @media (max-width: 1100px) {
            padding: 50px 0 50px;
        }
    }

    &__products {
        padding: 188px 0;
        text-align: center;

        &>span:nth-child(1) {
            display: block;
            color: $green_color;
            font-size: 36px;
            margin-bottom: 14px;
        }

        h2 {
            margin-bottom: 40px;
        }
    }
}


.about-us {
    position: relative;
    overflow: hidden;
    height: max-content;

    .container {
        display: flex;
        gap: 65px;
        justify-content: space-around;
        width: 100%;


        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    &__img {
        max-width: 782px;
        width: 100%;
        height: 100%;
        max-height: 778px;
        object-fit: cover;
        transform: translateX(-50px) scale(1.1);

        @media (max-width: 1366px) {
            max-width: 500px;
            transform: translateX(0) scale(2);
            object-fit: contain;
        }

        @media (max-width: 1100px) {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0.1;
        }
    }

    &__text-block {
        flex-grow: 1;
        z-index: 1;

        &>span:nth-child(1) {
            color: $green_color;
            font-size: 36px;
            margin-bottom: 12px;
        }

        &>h2:nth-child(2) {
            margin-bottom: 14px;
        }

        &>p:nth-child(3) {
            margin-bottom: 46px;
        }

        &>div:nth-child(4) {
            margin-bottom: 30px;
        }

        &>div {
            display: flex;
            gap: 19px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }

        button {
            margin-top: 46px;
        }
    }
}